$background-color: #1c75b9;
$primaryHeaderText-color: #083452;
$secondaryHeaderText-color: #1d74b6;
$primaryHeaderText-font: 'Rubik', sans-serif;
$main-text: 'Open Sans Condensed', sans-serif;
$herofont-text: 'Fjalla One', sans-serif;
$activeBackgroundButton-color: #A3B3BF;
$iconActiveBackgroundButton-color: #5e686f;
$inactiveBackgroundButton-color: #106db3;
$inactiveIconBackroundButton-color: #083452;
$iconButton-color: #FFF;
